<!DOCTYPE html>
<html>
<head>
<title>Get Accounts from SF (CORS)</title>
<style type="text/css">
body {
  font-family: Sans-Serif;
}
</style>
</head>
<body>
  <h3>
   Click the button to see result
  </h3>
  <input type="button" id="accs" value="click" onclick="upload()"/>
  <p id="message"></p>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="forcetk.js"></script>
  <script>
    var client = new forcetk.Client();

    // Bypass the proxy - you must whitelist your server in Setup | Security Controls | CORS
    client.proxyUrl = null;

    client.setSessionToken('<%= oauth.access_token %>', 'v33.0', '<%= oauth.instance_url %>');

    function upload() {
        client.query('select name, id from account limit 10',
            function(request, status, response){
              console.log(request);
              var resultHtml = '';
              var records = request["records"];
              for (var i=0; i<records.length; i++) {
                var record = records[i];
                resultHtml = resultHtml + record.Name + " -- " + record.Id + "</br>";
              }
              $("#message").html("Success! </br>" + resultHtml);
            },
            function(request, status, response){
              $("#message").html("Error: " + status);
            }
          );
    }
  </script>
</body>
</html>
